# Virtual Environments
venv/
env/
.venv/
#data
data/
# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE and System Files
.vscode/
.idea/
.DS_Store

# Generated Checkpoints & Logs
qwen2vl_sparse_moe_checkpoint/
*.log

# Dataset and Mounts
drive_mount/
data/
runs/
teacher_cache/
*.json

# Generated Images and Plots
*.png
*.jpg
*.jpeg
Fig*.png

*.zip
check_data_output.txt
